{
  "presets": ["@babel/env"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true,
      }
    ],
    // [
    //   "@babel/plugin-proposal-object-rest-spread",
    //   {
    //     "loose": true,
    //     "useBuiltIns": true
    //   }
    // ]
  ]
}
